<div class="container">
  <h1>Alloted Patient</h1>

<!-- <h1>Doctor-Database</h1> --><br>

<h3>Search by Patient Name</h3><br>

<input type="text" ng-model="search" placeholder="Search" class="form-control"><br>
<h5>Search results for : {{search}}</h5>


<!-- <input type="text" ng-model="search" placeholder="Enter some text to search" class="form-control"><br> -->
<br>
<div class="table-responsive" style="overflow-y: scroll; height: 500px;">
  <table class="table">
    <tr>
        <th>S_No.</th>
        <th class="tafont">Patient Id</th>
        <th>Name</th>
        <th>D.O.B</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th class="tafont">Patient info</th>
        <!-- <th>Appointments</th> -->
        <!-- <th>Delete Patient<th> -->
    </tr>

    <tr ng-repeat="patient in alloted | filter : search">
        <td>{{$index + 1}}</td>
        <td>{{patient.Usern}}</td>
        <td>{{patient.F_Name + " " + patient.L_Name}}</td>
        <td>{{patient.dob}}</td>
        <td>{{patient.email}}</td>
        <td>{{patient.M_No}}</td>
        <td><button type="button" class="btn btn-success" style="width: 100%;" ng-click="docpaview(patient.id)" data-bs-toggle="modal" data-bs-target="#paview">View</button></td>
        <!-- <td><button type="button" class="btn btn-info" style="width: 100%;" ng-click="apshow(data.id)" data-bs-toggle="modal" data-bs-target="#Appointment">Show</button></td> -->
        <!-- <td><button type="button" class="btn btn-danger" style="width: 100%;" ng-click="dele(data.id)">Delete</button></td> -->


        <div class="modal fade" id="paview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Info</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">


                <div class="col-sm-12"> 
                  <div class="card">
                    <div class="card-header text-center">
                      <h3>Basic Information</h3>
                    </div>
                    <div class="card-body">
        
                      <div class="row">
                        <div class="col-sm-6">
                          <h5 class="alloted-details">Gender : &nbsp&nbsp{{padat.Gender}}</h5><br>
                          <h5 class="alloted-details">Date Of Birth : &nbsp&nbsp{{padat.DOB}}</h5><br>
                          <h5 class="alloted-details">Username : &nbsp&nbsp{{padat.Username}}</h5><br>
                        </div>
                        <div class="col-sm-6">
                          <h5 class="alloted-details">City : &nbsp&nbsp{{padat.City}}</h5><br>
                          <h5 class="alloted-details">State : &nbsp&nbsp{{padat.State}}</h5><br>
                          <h5 class="alloted-details">Country : &nbsp&nbsp{{padat.Country}}</h5>
                        </div>
                      </div>
        
                      
                    </div>
                    
                  </div>
                  <br>
                </div>
        
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card mb-3" style="width: 100%;">
                      <div class="card-header text-center">
                        <h4>Contact Info </h4>
                      </div>
                      <div class="card-body">
                        <h5 class="alloted-details"><i class="fa-solid fa-phone"></i><span>&nbsp&nbsp{{padat.Mobile_Number}}</span></h5><br>
                        <h5 class="alloted-details"><i class="fa-solid fa-envelope"></i><span>&nbsp&nbsp{{padat.Email}}</span></h5><br>
                        <h5 class="alloted-details"><i class="fa-solid fa-address-card"></i><span>&nbsp&nbsp{{padat.Address}}</span></h5>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="card mb-3" style="width: 100%;">
                      <div class="card-header text-center">
                        <h4>Health Related Info</h4>
                      </div>
                      <div class="card-body">
                        <h5 class="alloted-details"><span>Height : &nbsp&nbsp{{patient.height}} cm</span></h5><br>
                        <h5 class="alloted-details"><span>Weight : &nbsp&nbsp{{patient.weight}} kg</span></h5><br>
                        <h5 class="alloted-details"><span>Blood Group : &nbsp&nbsp{{padat.Blood_Group}}</span></h5>
                      </div>
                    </div>
                  </div>
                </div>









                  <!-- <div class="row">
                    <div class="col-sm-6">
                        <h2 style="margin-left: 3%;"><i class="fa-solid fa-user"></i>&nbsp&nbsp&nbsp{{padat.First_Name + " " + padat.Last_Name}}</h2><br>
                        <h2 style="margin-left: 3%;"><i class="fa-solid fa-phone"></i>&nbsp&nbsp&nbsp{{padat.Mobile_Number}}</h2><br>
                        <h2 style="margin-left: 3%;"><i class="fa-solid fa-envelope"></i>&nbsp&nbsp&nbsp{{padat.Email}}</h2>
                        <h2 style="margin-left: 3%;"><i class="fa-solid fa-envelope"></i>&nbsp&nbsp&nbsp{{padat.Email}}</h2>
                        <br>
                    </div>

                    <div class="col-sm-6">
                      <h2 style="margin-left: 3%;">Address&nbsp : &nbsp&nbsp&nbsp{{padat.Address}}</h2><br>
                      <h2 style="margin-left: 3%;">Blood Group&nbsp : &nbsp&nbsp&nbsp{{padat.Blood_Group}}</h2><br>
                      <h2 style="margin-left: 3%;">City&nbsp : &nbsp&nbsp&nbsp{{padat.City}}</h2><br>
                      <h2 style="margin-left: 3%;">State&nbsp : &nbsp&nbsp&nbsp{{padat.State}}</h2>
                    </div>
                  </div> -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
    
    
    
    
    
    
    </tr>
  </table>
<br><br><br>

</div>




























































<h1>List of alloted patient ==></h1>
<br><br>

<p id="allopa" style="text-align: center; font-size: 40px; margin-top: 15%; color: red; display: none;"></p>


<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item" ng-repeat="patient in alloted">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{$index}}" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <h2>{{patient.F_Name + " " + patient.L_Name}}</h2>
      </button>
    </h2>
    <div id="panelsStayOpen-collapse{{$index}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">

        <div class="col-sm-12"> 
          <div class="card">
            <div class="card-header text-center">
              <h3>Basic Information</h3>
            </div>
            <div class="card-body">

              <div class="row">
                <div class="col-sm-6">
                  <h5 class="alloted-details">Gender : &nbsp&nbsp{{patient.Gend}}</h5><br>
                  <h5 class="alloted-details">Date Of Birth : &nbsp&nbsp{{patient.dob}}</h5><br>
                  <h5 class="alloted-details">Username : &nbsp&nbsp{{patient.Usern}}</h5><br>
                </div>
                <div class="col-sm-6">
                  <h5 class="alloted-details">City : &nbsp&nbsp{{patient.city}}</h5><br>
                  <h5 class="alloted-details">State : &nbsp&nbsp{{patient.state}}</h5><br>
                  <h5 class="alloted-details">Country : &nbsp&nbsp{{patient.country}}</h5>
                </div>
              </div>

              
            </div>
            
          </div>
          <br>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="card mb-3" style="width: 100%;">
              <div class="card-header text-center">
                <h4>Contact Info </h4>
              </div>
              <div class="card-body">
                <h5 class="alloted-details"><i class="fa-solid fa-phone"></i><span>&nbsp&nbsp{{patient.M_No}}</span></h5><br>
                <h5 class="alloted-details"><i class="fa-solid fa-envelope"></i><span>&nbsp&nbsp{{patient.email}}</span></h5><br>
                <h5 class="alloted-details"><i class="fa-solid fa-address-card"></i><span>&nbsp&nbsp{{patient.address}}</span></h5>
              </div>
              
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card mb-3" style="width: 100%;">
              <div class="card-header text-center">
                <h4>Health Related Info</h4>
              </div>
              <div class="card-body">
                <h5 class="alloted-details"><span>Height : &nbsp&nbsp{{patient.height}} cm</span></h5><br>
                <h5 class="alloted-details"><span>Weight : &nbsp&nbsp{{patient.weight}} kg</span></h5><br>
                <h5 class="alloted-details"><span>Blood Group : &nbsp&nbsp{{patient.blood_group}}</span></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


