
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem; border: none;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img style="height: 100%;" src="images/doctorlogin.webp" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form name="dofom" ng-submit="dologin()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <img style="width: 75%;" src="images/logo.png" alt="">
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-size: 30px;">Doctor's Login</h5>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="username"><strong>USERNAME <b>*</b></strong></label>
                        <input type="text" id="username" ng-model="username" class="form-control form-control-lg">
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password"><strong>PASSWORD <b>*</b></strong></label>
                        <input type="password" id="password" ng-model="password" class="form-control form-control-lg">
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
  
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a ui-sref="5"
                        style="color: #393f81;">Register here</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>