<!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="images/doctor-dash.png" style="margin: auto;" class="img-fluid rounded-start" alt="doctor dash">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">Basic Information</h4><br>
          <p class="card-text do-basic">Name : &nbsp{{name}}</p>
          <p class="card-text do-basic">Username : &nbsp{{username}}</p>
          <p class="card-text do-basic">Phone : &nbsp{{phone}}</p>
          <p class="card-text do-basic">Email : &nbsp{{email}}</p>
          <p class="card-text"><small class="text-muted">Updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
 -->










 <div class="container pro">
    <br>
    <div style="padding-left: 15%;">
        <h1>Profile</h1>
        <br>
        <label for="nam" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Name</strong></label><br>
        <input type="text" ng-model="name" name="nam" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" id="nnnnn" disabled>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="age" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Age</strong></label><br>
                <input type="text" ng-model="ag" name="age" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
                <br>
            </div>
            <div class="col-sm-6">
                <label for="gen" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Gender</strong></label><br>
                <input type="text" ng-model="gen" name="gen" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled><br>

            </div>
        </div>
        
        <label for="phone" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Phone</strong></label><br>
        <input type="text" ng-model="phone" name="phone" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
        <br>
        <label for="email" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Email</strong></label><br>
        <input type="text" ng-model="email" name="email" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
        <br>
        <label for="address" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Address</strong></label><br>
        <textarea ng-model="address" name="address" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 20px;" disabled></textarea>
        <br>
        <label for="govid" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Government ID</strong></label><br>
        <input type="text" ng-model="govid" name="govid" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
        <br>
        <label for="govnum" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Government ID Number</strong></label><br>
        <input type="text" ng-model="govnum" name="govnum" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
        <br>
        <hr><br><br>

        <h2>Change Password</h2><br>
        <form name="passchange">
            <div class="row">
                <div class="col-sm-6">
                    <label for="currpass" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Current Password</strong></label><br>
                    <input type="password" ng-model="currpass" name="currpass" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" placeholder="Current Password">
                </div>
            </div>
            
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="newpass" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Current Password</strong></label><br>
                    <input type="password" ng-model="newpass" name="newpass" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" placeholder="New Password"><br>
                </div>
                <div class="col-sm-6">
                    <label for="confpass" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Current Password</strong></label><br>
                    <input type="password" ng-model="confpass" name="confpass" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" placeholder="Confirm Password">
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-outline-dark" ng-click="changedocpassword()">Change Password</button>
        </form>
        <br><br><br><br>
    </div>
</div> 


  