<br>
<!-- <h1 style="text-align: center; color: blue;">Profile</h1> -->

<div class="container pro">
    <div class="row">
        <div class="col-sm-6">
            <!-- <label for="lname" class="form-label">NAME</label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>NAME</strong></p>
            <input type="text" class="form-control" ng-model="name" id="name" disabled>
        </div>
        <div class="col-sm-6">
            <!-- <label for="Uname" class="form-label"><strong>USERNAME <b>*</b></strong></label> -->
        <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>USERNAME</strong></p>

            <input type="text" class="form-control" ng-model="username" id="Uname" disabled>
            
        </div>
    </div>
    
    <br>

    <div class="row">   
        <div class="col-sm-6">
            <!-- <label for="DOB" class="form-label"><strong>DOB <b>*</b></strong></label> -->
        <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>DOB</strong></p>

            <input type="text" class="form-control" ng-model="dob" id="DOB" disabled>
           
        </div>
        <div class="col-sm-3">
            <!-- <label for="height" class="form-label"><strong>HEIGHT</strong></label><br> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>HEIGHT</strong></p>

            <div class="input-group">
                <input type="text" class="form-control" ng-model="height" id="height" disabled>
                <div class="input-group-text">cm</div>
            </div>
            
            
        </div>
        <div class="col-sm-3">
            <!-- <label for="weight" class="form-label"><strong>WEIGHT</strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>WEIGHT</strong></p>

            <div class="input-group">
                <input type="text" class="form-control" ng-model="weight" id="weight" disabled>
                <div class="input-group-text">kg</div>
            </div>
            
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6">
            <!-- <label for="email" class="form-label"><strong>EMAIL <b>*</b></strong></label> -->
        <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>EMAIL</strong></p>

            <input type="email" class="form-control" ng-model="email" id="email" disabled>
           
        </div>
        <div class="col-sm-3">
            <!-- <label for="phone" class="form-label"><strong>PHONE <b>*</b></strong></label> -->
        <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>PHONE</strong></p>

            <input type="text" class="form-control" ng-model="phone" id="phone" disabled>
            
        </div>
        <div class="col-sm-3">
            <!-- <label for="gen" class="form-label"><strong>GENDER <b>*</b></strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>GENDER</strong></p>
            <input type="text" class="form-control" name="gen" id="gen" ng-model="gen" disabled>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-8">
            <!-- <label for="add" class="form-label"><strong>ENTER YOUR FULL ADDRESS <b>*</b></strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>ADDRESS</strong></p>

            <input type="text" class="form-control" ng-model="address" id="add" disabled>
            
        </div>
        <div class="col-sm-4">
            <!-- <label for="blood" class="form-label"><strong>BLOOD GROUP</strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>BLOOD GROUP</strong></p>
            <input type="text" name="blood" id="blood" ng-model="blood" class="form-control" disabled>
        </div>
    </div>
    
    <br>

    <div class="row">
        <div class="col-sm-3">
            <!-- <label for="country" class="form-label"><strong>COUNTRY <b>*</b></strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>COUNTRY</strong></p>
            <input type="text" name="country" id="country" ng-model="country" class="form-control" disabled>
            
           
        </div>
        <div class="col-sm-3">
            <!-- <label for="state" class="form-label"><strong>STATE <b>*</b></strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>STATE</strong></p>
            <input type="text" name="state" id="state" ng-model="state" class="form-control" disabled>
        </div>
        <div class="col-sm-3">
            <!-- <label for="city" class="form-label"><strong>CITY <b>*</b></strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>CITY</strong></p>

            <input type="text" class="form-control" ng-model="city" id="city" disabled>
            
        </div>
        <div class="col-sm-3">
            <!-- <label for="pincode" class="form-label"><strong>PINCODE <b>*</b></strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>PINCODE</strong></p>

            <input type="text" class="form-control" ng-model="pin" id="pincode" disabled>
            
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6">
            <!-- <label for="Gov-id" class="form-label"><strong>GOVERNMENT ID <b>*</b></strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>GOVERNMENT ID</strong></p>
            <input type="text" name="Gov-id" id="Gov-id" ng-model="govid" class="form-control" disabled>
            
        </div>
        <div class="col-sm-6">
            <!-- <label for="govnum" class="form-label"><strong>GOVERNMENT ID NO. <b>*</b></strong></label> -->
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>GOVERNMENT ID NO.</strong></p>

            <input type="text" class="form-control" ng-model="govnum" id="govnum" disabled>
            
        </div>
    </div>



    
    <br>
    <div class="col-sm-12">
        <label for="medi" class="form-label"><strong>Any Medical History</strong></label>
        <textarea name="medi" id="medi" ng-model="medi" cols="30" rows="4" class="form-control" disabled></textarea>
        <br><br>
    </div>

</div>