<br>
<!-- <h1 style="text-align: center; color: blue;">Profile</h1> -->


<div class="container pro">
    <br>
    <div style="padding-left: 15%;">
        <h1>Profile</h1>
        <br>
        <label for="nam" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Name</strong></label><br>
        <input type="text" ng-model="name" name="nam" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" id="nnnnn" disabled>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label for="age" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Age</strong></label><br>
                <input type="text" ng-model="agee" name="age" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
                <br>
            </div>
            <div class="col-sm-6">
                <label for="gen" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Gender</strong></label><br>
                <input type="text" ng-model="gen" name="gen" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
            </div>
        </div>
        <br>
        <label for="phone" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Phone</strong></label><br>
        <input type="text" ng-model="phone" name="phone" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
        <br>
        <label for="email" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Email</strong></label><br>
        <input type="text" ng-model="email" name="email" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
        <br>
        <label for="address" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Address</strong></label><br>
        <textarea ng-model="address" name="address" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 20px;" disabled></textarea>
        <br>
        <label for="govid" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Government ID</strong></label><br>
        <input type="text" ng-model="govid" name="govid" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
        <br>
        <label for="govnum" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Government ID Number</strong></label><br>
        <input type="text" ng-model="govnum" name="govnum" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" disabled>
        <br>
        <hr><br><br>

        <h2>Change Password</h2><br>
        <form name="passchange">
            <div class="row">
                <div class="col-sm-6">
                    <label for="currpass" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Current Password</strong></label><br>
                    <input type="password" ng-model="currpass" name="currpass" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" placeholder="Current Password">
                </div>
            </div>
            
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="newpass" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Current Password</strong></label><br>
                    <input type="password" ng-model="newpass" name="newpass" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" placeholder="New Password"><br>
                </div>
                <div class="col-sm-6">
                    <label for="confpass" style="color:black; padding-bottom: 10px; padding-left: 5px;"><strong>Current Password</strong></label><br>
                    <input type="password" ng-model="confpass" name="confpass" class="form-control" style="background-color: rgb(216, 216, 216); border-radius: 2cm;" placeholder="Confirm Password">
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-outline-dark" ng-click="changepassword()">Change Password</button>
        </form>
        <br><br><br><br>
    </div>
</div> 


















<!-- <div class="container pro">
    <div class="row">
        <div class="col-sm-6">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>NAME</strong></p>
            <input type="text" class="form-control" ng-model="name" id="name" style="background-color: #ebebeb; border-radius: 2cm;" disabled>
        </div>
        <div class="col-sm-6">
        <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>USERNAME</strong></p>

            <input type="text" class="form-control" ng-model="username" style="background-color: #ebebeb; border-radius: 2cm;" id="Uname" disabled>
            
        </div>
    </div>
    
    <br>

    <div class="row">   
        <div class="col-sm-6">
        <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>DOB</strong></p>

            <input type="text" class="form-control" ng-model="dob" style="background-color: #ebebeb; border-radius: 2cm;" id="DOB" disabled>
           
        </div>
        <div class="col-sm-3">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>HEIGHT</strong></p>
            <input type="text" class="form-control" ng-model="height" style="background-color: #ebebeb; border-radius: 2cm;" id="height" disabled>
            
            
            
        </div>
        <div class="col-sm-3">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>WEIGHT</strong></p>
            <input type="text" class="form-control" ng-model="weight"  style="background-color: #ebebeb; border-radius: 2cm;" id="weight" disabled>
            
            
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6">
        <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>EMAIL</strong></p>

            <input type="email" class="form-control" ng-model="email" style="background-color: #ebebeb; border-radius: 2cm;" id="email" disabled>
           
        </div>
        <div class="col-sm-3">
        <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>PHONE</strong></p>

            <input type="text" class="form-control" ng-model="phone" style="background-color: #ebebeb; border-radius: 2cm;" id="phone" disabled>
            
        </div>
        <div class="col-sm-3">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>GENDER</strong></p>
            <input type="text" class="form-control" name="gen" id="gen" style="background-color: #ebebeb; border-radius: 2cm;" ng-model="gen" disabled>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-8">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>ADDRESS</strong></p>

            <input type="text" class="form-control" ng-model="address" style="background-color: #ebebeb; border-radius: 2cm;" id="add" disabled>
            
        </div>
        <div class="col-sm-4">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>BLOOD GROUP</strong></p>
            <input type="text" name="blood" id="blood" ng-model="blood" style="background-color: #ebebeb; border-radius: 2cm;" class="form-control" disabled>
        </div>
    </div>
    
    <br>

    <div class="row">
        <div class="col-sm-3">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>COUNTRY</strong></p>
            <input type="text" name="country" id="country" ng-model="country" style="background-color: #ebebeb; border-radius: 2cm;" class="form-control" disabled>
            
           
        </div>
        <div class="col-sm-3">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>STATE</strong></p>
            <input type="text" name="state" id="state" ng-model="state" style="background-color: #ebebeb; border-radius: 2cm;" class="form-control" disabled>
        </div>
        <div class="col-sm-3">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>CITY</strong></p>

            <input type="text" class="form-control" ng-model="city" style="background-color: #ebebeb; border-radius: 2cm;" id="city" disabled>
            
        </div>
        <div class="col-sm-3">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>PINCODE</strong></p>

            <input type="text" class="form-control" ng-model="pin" style="background-color: #ebebeb; border-radius: 2cm;" id="pincode" disabled>
            
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>GOVERNMENT ID</strong></p>
            <input type="text" name="Gov-id" id="Gov-id" ng-model="govid" style="background-color: #ebebeb; border-radius: 2cm;" class="form-control" disabled>
            
        </div>
        <div class="col-sm-6">
            <p style="color: rgb(74, 74, 238); font-size: 25px;"><strong>GOVERNMENT ID NO.</strong></p>

            <input type="text" class="form-control" ng-model="govnum" style="background-color: #ebebeb; border-radius: 2cm;" id="govnum" disabled>
            
        </div>
    </div>



    
    <br>
    <div class="col-sm-12">
        <label for="medi" class="form-label"><strong>Any Medical History</strong></label>
        <textarea name="medi" id="medi" ng-model="medi" cols="30" rows="4" style="background-color: #ebebeb; border-radius: 0.5cm;" class="form-control" disabled></textarea>
        <br><br>
    </div>

</div> -->