
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem; border: none;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <div class="card bg-dark text-white">
                    <img style="opacity: 0.7;" src="images/patient-login.png" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <p class="card-title" style="text-align: center; margin-top: 5cm; font-size: 52px;">We Are Always Here To Serve You...</p>
                    </div>
                </div>
                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> -->
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form name="lofom" ng-submit="patientlogin()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <img style="width: 75%;" src="images/logo.png" alt="logo">
                    </div>
                    
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Patient Login</h3>
  
                    <div class="form-outline mb-4">
                      <label for="username" class="form-label"><strong>USERNAME <b>*</b></strong></label>
                      <!-- <label class="form-label" for="username">Email address</label> -->
                      <input type="text" id="username" ng-model="patientuser" class="form-control form-control-lg" required>
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password"><strong>PASSWORD <b>*</b></strong></label>
                      <input type="password" id="password" ng-model="patientpass" class="form-control form-control-lg" required>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
  
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a ui-sref="1"
                        style="color: #393f81;">Register here</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>